html, body {
    height: 100%;
    margin: 0 20px;
}

hr {
    border: none;  /* Overwrite everything before adding new style */
    border-top: 4px solid #14A35B;
    width: 85%;
    margin: 20px auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    align-items: center;
    display: flex;
    color: #14A35B;
    background-color: #01361B;

    z-index: 1000;
}

.nav-left, .nav-center, .nav-right {
    flex: 1;
    padding: 0 20px;
}
.nav-left {
    text-align: left;
}
.nav-center {
    text-align: center;
}
.nav-right {
    text-align: right;
}

a.navlink {
    display: inline-block;
    font-size: 200%;
    top: -50%;
    position: relative;
    color: #14A35B;
    transition: transform 0.2s ease;
}
a.navlink:hover {
    transform: scale(1.2);
}
a.navlink:active {
    color: #33B6BB;
}

.logo {
    font-size: 300%;
    text-decoration: none;
    font-weight: bold;
}
.logo-game {
    color: #33B6BB
}
.logo-crit {
    color: #14A35B;
}
.logo-ique {
    color: #0C5933;
}

.separation {
    display: inline;
    color: #14A35B;
    white-space: pre-wrap;
    font-size: 400%;
    line-height: 50%;
}

body {
    background-color: #CDEDDD;
    color: #0C5933
}