@import 'components/searchBar.css';
@import 'components/gameSmall.css';

#search-results {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 50px 100px;

    max-width: 1200px;
    margin: 0 auto;
}

#search {
    display: flex;
    justify-content: center;
}

#search-bar {
    width: 40%;
    height: 30px;
}