.small-game {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border: 1px solid #ccc;
}

.sg-img {
    width: auto;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.sg-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sg-text p {
    margin: 2px 0;
}