{% extends "gamecritique/base.html" %}
{% load static %}

{% block title_block %}
    Add a Review
{% endblock %}

{% block body_block %}
<h1>Add a Review</h1>

<form id="review_form" method="post" action="">
    {% csrf_token %}

    <div style="display: flex; align-items: flex-end; gap: 30px;">
        
        <div>
            {{ form.content.errors }}
            {{ form.content }}
        </div>

        <div style="display: flex; flex-direction: column; gap: 12px;">
            <div>
                <label for="{{ form.rating.id_for_label }}"><strong>Rating:</strong></label><br>
                {{ form.rating.errors }}
                {{ form.rating }}
            </div>

            <div>
                <input type="submit" name="submit" value="Add Review" />
            </div>
        </div>

    </div>
</form>
{% endblock %}