<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/style.css' %}" />
        <title>GameCritique - {% block title_block %} How to Game with Critique! {% endblock %}</title>

        <style>
        </style>
    </head>
    <body>
        <div>
            <nav class="navbar">
                <div class="nav-left">
                    <a class="logo" href="{% url 'gamecritique:index' %}"><span class="logo-game">Game</span><span class="logo-crit">Crit</span><span class="logo-ique">ique</span></a>
                </div>
                <div class="nav-center">
                    <a class="navlink" href="{% url 'gamecritique:index' %}">Home</a>
                    <span class="separation">  |  </span>
                    <a class="navlink" href="{% url 'gamecritique:index' %}">Search</a>
                </div>
                <div class="nav-right">
                    {% if user.is_authenticated %}
                        <a class="navlink" href="{% url 'gamecritique:profile' %}">Profile</a>
                        <span class="separation">  |  </span>
                        <a class="navlink" href="{% url 'gamecritique:logout' %}">Logout</a>
                    {% else %}
                        <a class="navlink" href="{% url 'gamecritique:register' %}">Register</a>
                        <span class="separation">  |  </span>
                        <a class="navlink" href="{% url 'gamecritique:login' %}">Login</a>
                    {% endif %}    
                </div>
            </nav>
        </div>

        <div>
            <br><br><br><br><br>
        {% block body_block %}
        {% endblock %}
        </div>
        
        <div>
            {% block sidebar_block %}
            {% endblock %}
        </div>

        <hr />
    </body>
</html>