{% extends "gamecritique/base.html" %}
{% load staticfiles %}

{% block title_block %}
    {% if game %}
        {{ game.name }}
    {% else %}
        Unknown Game
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if game %}
        <h1>{{ game.name }}</h1>

        {% if reviews %}
            <ul>
            {% for review in reviews %}
                <li><a href="{{ review.url }}">{{ review.title }}</a></li>
            {% endfor %}
            </ul>

        {% else %}
            <strong>No reviews for this game.</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'gamecritique:add_review' game.slug %}">Add Review</a> <br />
        {% endif %}

    {% else %}
        <strong>The specified game does not exist.</strong>
    {% endif %}
{% endblock %}