<!DOCTYPE html>
{% load static %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&family=Silkscreen&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/gamepage.css' %}" />

        <title>GameCritique - GAME!</title>
    </head>

    <body style="font-family: 'Silkscreen';">
        <div id="game-container"></div>
        <script src="{% static 'scripts/phaser.js' %}"></script>
        <script type="module" src="{% static 'scripts/main.js' %}?v={% now 'U' %}"></script>
    </body>
</html>