{% extends "gamecritique/base.html" %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}?v={% now 'U' %}" />
    <script>
        const collectUrl = "{% url 'gamecritique:collect_key' %}";
    </script>
{% endblock %}

{% block body_block %}

<div>
    {% if random_game %}
    <h2>Featured Game</h2>
    {% endif %}

    <div class="small-game">
        <img class="sg-img" src="{{ random_game.image_url }}" alt="{{ random_game.name }}-image">
        <div class="sg-text">
            <p>{{ random_game.name }}</p>
            <p>Tags: {% for tag in random_game.tags.all %}{{ tag.name }}, {% endfor %}</p>
            <p>Release: {{ random_game.release_year}}</p>
        </div>
    </div>
</div>

{% if user.is_authenticated and not user.profile.has_key %}
    <script src="{% static 'scripts/interactivity/key.js' %}?v={% now 'U' %}" defer></script>
    <div id="key-container">
        <button type='button' id='key'><img src="{% static 'images/keyGen.png' %}" alt="keytastic"></button>
    </div>
{% endif %}

{% endblock %}