{% extends "gamecritique/base.html" %}
{% load static %}

{% block title_block %}
    Homepage
{% endblock %}

{% block head_block %}
<div class="container mt-4">
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/index.css' %}?v={% now 'U' %}" />
    <script src="{% static 'scripts/interactivity/sidewaysScroll.js' %}?v={% now 'U' %}" defer></script>
</div>
{% endblock %}

{% block body_block %}

<div class="featured_container">
    {% if random_game %}
    <h2 class="section_title">Featured Game</h2>

    <div class="featured_section">
        <img class="featured_image img-fluid"
            src="{{ random_game.image_url }}"
            alt="{{ random_game.name }}">

        <div class="featured_right">
            <h3 class="featured_game_name">
                <a href="{% url 'gamecritique:show_game' random_game.slug %}?featured=1">
                {{ random_game.name }}</a></h3>

        <div class="featured_left">
            <h3 class="featured_game_review">
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="featured_left">  
                            <p>
                                <strong>{{ review.user.username }}</strong>
                                {% if review.rating == 1 %}
                                    ★☆☆☆☆
                                {% elif review.rating == 2 %}
                                    ★★☆☆☆
                                {% elif review.rating == 3 %}
                                    ★★★☆☆
                                {% elif review.rating == 4 %}
                                    ★★★★☆
                                {% elif review.rating == 5 %}
                                    ★★★★★
                                {% else %}
                                    No rating
                                {% endif %}
                            </p>
                        <p>{{ review.content }}</p>
                        <p><small>{{ review.created_at_timestamp }}</small></p>
                    </div>
                    {% endif %}

            <div class="tag_section">
                <span class="tag_text">Tags:</span>
                <div class="tag_list">
                {% for tag in random_game.tags.all|slice:":5" %}
                    <span class="tag_name">{{ tag.name }}</span>
                {% endfor %}
                {% if random_game.tags.count > 5 %}
                    <span class="tag_name">+{{ random_game.tags.count|add:"-5" }} more<span>
                {% endif %}
                </div>
            </div>

            <div class="featured_release">
                <span class="release_text">Release:</span>
                <span class="release_year">{{ random_game.release_year}}</span>
            </div>
        </div>
    </div>
{% endif %}
</div>

<hr class="my-5">

<div id="trending_container">
    <h2 class="section_title">Trending</h2>
    <div id="trending_scroll" class="sideways-scroll">
    {% for game in trending_games %}
        <div class="game-small card p-2 shadow-sm rounded">
            <img src="{{ game.image_url }}" class="img-fluid" alt="{{ game.name }}">
            <div class="gs-info">
                <span><a href="{% url 'gamecritique:show_game' game.slug %}">{{ game.name}}</a></span>
                <span>Tags: </span>
                <span><div class="tag_list">
                {% for tag in game.tags.all|slice:":5"  %}
                    <span class="tag_name">{{ tag.name }}</span>
                {% endfor %}
                {% if game.tags.count > 5 %}
                    <span class="tag_name">+{{ game.tags.count|add:"-5" }} more</span>
                {% endif %}
                </div></span>
                <span>Release: {{ game.release_year }}</span>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

<br><br><hr><br>

{% endblock %}
