{% extends "gamecritique/base.html" %}
{% load static %}

{% block title_block %}
    User Profile
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/profile.css' %}?v={% now 'U' %}" />
{% endblock %}

{% block body_block %}
<div class="profile_text">
<h1>Your Profile</h1>
</div>

<div class="profile_container">
    <div class="profile_left">
        {% if profile.picture %}
        <img src="{{ profile.picture.url }}"
             alt="Profile Picture" class="profile_picture">
        {% else %}
        <img src="{% static 'images/default_profile.png' %}" class="profile_picture">
        {% endif %}
    </div>

    <div class="profile_right">
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>First name:</strong> {{ user.first_name }}</p>
        <p><strong>Surname:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Bio:</strong> {{ profile.bio }}</p>
    </div>
</div>


<div class="game_link">
    <a href="{% url 'gamecritique:gamepage' %}">funny fun gametime</a>
</div>
{% endblock %}